ctb/sys/n8n-workflows/email-verification-workflow.json
{
  "name": "MillionVerifier Email Verification - Composio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Verify Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "composio-verify-email"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.millionverifier.com/api/v3/?api=7hLlWoR3DCDoDwDllpafUh4U9&email={{ $json.email }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "million-verifier-single",
      "name": "MillionVerifier - Single Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.result }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Is Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, email: $('Webhook - Verify Email').item.json.email, status: 'valid', result: $json }) }}"
      },
      "id": "respond-valid",
      "name": "Respond - Valid Email",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, email: $('Webhook - Verify Email').item.json.email, status: 'invalid', result: $json }) }}"
      },
      "id": "respond-invalid",
      "name": "Respond - Invalid Email",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Verification failed' }) }}"
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 450]
    }
  ],
  "connections": {
    "Webhook - Verify Email": {
      "main": [
        [
          {
            "node": "MillionVerifier - Single Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MillionVerifier - Single Email": {
      "main": [
        [
          {
            "node": "Is Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Email Valid?": {
      "main": [
        [
          {
            "node": "Respond - Valid Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "composio-integration"
  },
  "pinData": {},
  "tags": [
    {
      "name": "composio",
      "id": "composio-tag"
    },
    {
      "name": "email-verification",
      "id": "email-verification-tag"
    }
  ]
}
